<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="../../../assets/stylesheets/shares.css">
    <link rel="stylesheet" href="../../../assets/stylesheets/header.css">
    <title>Withdom</title>
  </head>
  <body>
    <header>
      <h1>Withdom</h1>
    </header>
    
    <div class="contents">
    </div>

    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html> 