<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="../../../assets/stylesheets/user/registration.css">
    <title>Withdom-regist</title>
  </head>
  <body>
    <header></header>
    <div class="main">

      <form>
        <div class="name-email">
          <div class="name">
            <img src="../../../assets/images/name.jpg" alt="名前" class="name-image">
            <div class="name-position">
              <div class="name-title">Name</div>
              <input type="text" class="name-form" placeholder="名前を入力してください" name="name" id="name">
            </div>
          </div>
          <div class="email">
            <img src="../../../assets/images/email.jpg" alt="email" class="email-image">
            <div class="email-position">
              <div class="email-title">Email</div>
              <input type="text" class="email-form" placeholder="＠マークを含む半角文字で入力してください" name="email" id="email">
            </div>
          </div>
        </div>

        <div class="passwords">
          <div class="password">
            <img src="../../../assets/images/password.jpg" alt="password" class="password-image">
            <div class="password-position">
              <div class="password-title">Password</div>
              <input type="text" class="password-form" placeholder="６文字以上の半角英数混合で入力してください" name="password" id="password">
            </div>
          </div>
          <div class="password-comfiramation">
            <img src="../../../assets/images/password.jpg" alt="password" class="password-image">
            <div class="password-comfiramation-position">
              <div class="password-comfiramation-title">Password confiramation</div>
              <input type="text" class="password-form" placeholder="６文字以上の半角英数混合で入力してください" name="password" id="password">
            </div>
          </div>
        </div>
      </form>


        <div class="lower">
          <div class="signs">
            <div class="signup">SignUp</div>
            <div class="in-top">
              <div class="signin">
                <p id="session-page"><a href="#" style="text-decoration:none;">SignIn</a></p>
              </div>
              <div class="top">
                <p id="pageTop"><a href="#" style="text-decoration:none;">Top</a></p>
              </div>
            </div>
          </div>
          <div class="error-messages">
            メールアドレスは＠を含む半角英数<br>パスワードは６文字以上の半角英数混合<br>名前を入力してください<br>メールアドレスを入力してください<br>パスワードを入力してください
          </div>
          <form>
            <div class="submit-form">
              <input class="submit" type="submit" value="SignUp"> 
            </div>
          </form>
       </div>
    </div>
    <footer></footer>
  </body>
</html>