* {
  color: #424242;
  font-family: Hiragino Mincho ProN;
}

input {
  border: none;
  outline: none;
  width: 100%;
}


.main {
  height: 85vh;
  background-color: #ffffff;
}



.name-email {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7vh 0vh 10vh 0vh;
}

.name {
  display: flex;
  position: relative;
  margin-right: 2vw;
}

.name-position {
  position: absolute;
  width: 17vw;
}

.name-title {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.name-image {
  width: 28vw;
  height: 13vh;
} 

.name-form {
  display: flex;
  text-align: center;
  font-size: 50%;
  border-bottom: 1px solid #424242;
  padding-top: 5%;
}


.email {
  display: flex;
  position: relative;
  margin-left: 2vw;
}

.email-position {
  position: absolute;
  width: 17vw;
}

.email-title {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.email-image {
  width: 28vw;
  height: 13vh;
}

.email-form {
  display: flex;
  text-align: center;
  font-size: 50%;
  border-bottom: 1px solid #424242;
  padding-top: 5%;
}


.passwords {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password {
  display: flex;
  position: relative;
  margin-right: 2vw;
}

.password-position {
  position: absolute;
  width: 17vw;
}

.password-title {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.password-form {
  display: flex;
  text-align: center;
  font-size: 50%;
  border-bottom: 1px solid #424242;
  padding-top: 5%;
}

.password-image {
  width: 28vw;
  height: 13vh;
} 


.password-comfiramation {
  display: flex;
  position: relative;
  margin-left: 2vw;
}

.password-comfiramation-position {
  position: absolute;
  width: 17vw;
}

.password-comfiramation-title {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.password-comfiramation-form {
  display: flex;
  text-align: center;
  font-size: 50%;
  border-bottom: 1px solid #424242;
  padding-top: 5%;
}




.lower {
  height: 35vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.signs {
  width: 20vw;
  margin-bottom: 2vh;
  margin-right: 4%;
}

.signup {
  display: flex;
  font-size: 5vw;
  
}


.in-top {
  display: flex;
  
}

.signin {
  font-size: 2vw;
  padding-top: 4%;
  margin-right: 10%;
}


.top {
  font-size: 2vw;
  padding-top: 4%;
  margin-left: 10%;
}


.error-messages {
  width: 24vw;
  font-size: 1vw;
  margin-bottom: 1vh;
  line-height: 190%;
  color: #aa213e;
  font-family: Gulim;
}

.submit-form {
  margin-bottom: 4vh;
}

.submit {
  margin-left: 4%;
  padding: 5% 0;
  width: 20vw;
  color: #ffffff;
  background-color: #424242;
  margin-bottom: 5vh;
}